* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}

/* header style */
.header {
    background-image: url(./images/banner/banner2.png);
    background-repeat: no-repeat;
    height: 900px;
    /* background-attachment: fixed; */
    background-size: 100% 100%;
    text-align: right;

}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 200px 200px;

}

.banner-title {

    font-family: sans-serif;
    text-align: right;
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    padding: 216px 230px 24px 845px;

}

.banner-title-description {
    text-align: right;
    color: #444343;
    padding: 0px 230px 32px 876px;
}

.header-btn {
    background-color: #f15b22;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    padding: 20px 25px;
    margin: 0px 230px 166px 1210px;
}

/* banner style */

.banner-images {

    width: 550px;
    height: 753px;
    margin: 20px 30px;
    padding: 0;
}

.banner {
    display: flex;
    justify-content: center;
    padding: 100px 100px;
}

.banner-textbox {

    padding: 250px 0 0 75px;
}

.banner-text-title {

    font-family: sans-serif;
    font-size: 30px;
    padding: 10px 0;
}

.banner-text-description {
    color: rgb(80, 80, 80);
    font-family: sans-serif;
    font-size: 13px;
    padding: 10px 0;
}

.record-list {
    padding: 10px 0;
}

.record-list ul {
    padding: 0 12px;
}

.record-list ul li {
    color: rgb(80, 80, 80);
    font-family: sans-serif;
    font-size: 13px;
    padding: 5px 0;

}

/* ..............plan section styles............. */
.plan-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    margin: 0 500px;
}

.my-plan {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;

}

.plan-title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin: 10px -80px 20px;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #737272;
}

/* ................................mindset style........................ */
.gradient {
    background-image: url(../images/watch.png), url(../images/gradient1.png);
    background-repeat: no-repeat;
    margin: 130px 230px;
    width: 1140px;
    height: 300px;
    background-blend-mode: soft-light;
}

.gradient-title {
    text-align: left;
    color: #FFFFFF;
    width: 459px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    padding: 60px 0px 24px 64px;
}

.btn-call {
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border-radius: 5px;
    border: none;
    width: 160px;
    height: 64px;
    margin: 50px 916px 59px 64px;
}

/* footer style */
.footer {
    display: flex;
    width: 100%;
    height: 450px;
    background: #151414;

}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-top: 75px;
    margin-left: 150px;
}

.footer-description {
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 150px;
}

.contact {
    color: #FFFFFF;
    margin-left: 150px;

}

.social {
    padding: 10px 125px;

}

.form {
    margin-top: 95px;
    margin-left: 550px;

}

.Subscribe {
    font-weight: 700;
    font-size: 25px;
    color: #fff;
}

.mail {
    color: #F3F3F3;
    padding: 15px;
}

.submit {
    /* color: #F3F3F3; */
    padding: 15px;

}